@font-face {
    font-family: 'LabGrotesque-Regular';
    src: url('/LabGrotesque-Regular.ttf') format('truetype');
}
html {
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;
}
:root {

    /*font-size: 62.5%;*/

}
body{
    font-family: 'LabGrotesque-Regular', sans-serif;
    font-size: 1rem;
    padding: 0rem;
    color: black;
    height: 100%;
    min-width: 23.4375rem;
}


.upper{
    display: none;
    opacity: 80%;
    font-size: .875rem;
    padding-top: .625rem;
}

.pupper1{
    color: lightgray;
}

.pupper2{
    color: lightgray;
    margin-right: 5%;
    margin-left: 50%;

}

.pupper3{
    color: lightgray;
}



header {
    background-color: #fff;
    background-image: url(/images/back_desk.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 580px;

    min-width: 375px;
    padding-left: 7%;
    padding-right: 7%;

}

.header {
    min-height: 6.25rem;
    display: flex;
    align-items: start;
    justify-content: center;
}


.header__button{
    margin-left: 90%;
    margin-top: 2rem;
    border: none;
    background-color: #00000000;
    position: absolute;
}

.li{
    margin: 1rem;
    font-size: 1.125rem;
    list-style: none;
}

.li::before {
    transition-duration: 1s;
    opacity: 0;
}

a{
    text-decoration: none;
    color: white;
}
.ul-links {
    display: none;
    visibility: hidden;
}

.animated-link {
    position: relative;
    display: block;
}


.animated-link::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: -4px;
    opacity: 0;
}

.li .animated-link::after {
    transition: opacity 0.3s;;
}

.li:hover .animated-link::after {
    opacity: 3;
}
.header__link{
    margin-left: .375rem;
}



.container-welcome{
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: 3.125rem;
}

.block-text-1 {
    text-align: center;
    color: #fff;
}
.title
{   
    font-size: .875rem;
    opacity: 80%;
}
.article1 {   
    font-size: 2.0625rem;
}

.text1{ 
    font-size: 1rem;
    opacity: 80%;
    margin: 1rem auto;
    line-height: 140%;
}


.block-text2 {
    align-items: center;
    text-align: center;
    
}

.block-eat{
    text-align: center;
}

.zayavka{
    font-size: 1.125rem;
    background-color: #fff;
    height: 3.125rem;
    width: 80%;
    font-weight: bold;
    margin-top: 10px;
}

.linkta {
    font-size: 1rem;
    text-decoration: none;
    color: #000;
}

.container-second {
    margin: 0 auto;
    padding: 0rem 1rem;
    padding-top: 3.75rem;
}

.about {
    font-size: .875rem;
}
.text2{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
    line-height: 120%;
}
.text3{
    font-size: .875rem;
    font-weight: lighter;
    text-align: left;
    margin-bottom: 2.5rem;
    line-height: 140%;
}
.text4{
    font-size: .875rem;
    text-align: left;
    margin-bottom: 2.5rem;
    line-height: 170%;
}


.list {
    margin-top: 3.125rem;
}

.stats {
    list-style: none;
    padding: 0;
    margin: 0;
}

.stats li {
    display: inline-grid;
    align-items: center;
    width: 9.5rem;
}

.stats li:last-child {
    border-bottom: none;
}

.number {
    font-weight: bold;
    font-size: 2.5rem;
    margin-right: .625rem;
    margin-top: 1.5rem;
}

.text {
    font-size: .875rem;
    line-height: 140%;
    margin-top: .75rem;
}

.container-third{
    padding-top: 4.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.comma {
    display: none;
}

.povar{
    display: none;
}
.povar-m {
    display: block;
}

.figure-2{
    margin-left: 0rem;
}

.third-text {

}
.article2 {
    font-size: 1.375rem;
    margin-top: 1.5rem;
    line-height: 130%;
    text-align: left;
}
.chief {
    font-size: .875rem;
    margin-top: 2.5rem;
}
.name{
    font-size: 1.375rem;
    font-weight: bold;
    margin-top: .75rem;
}

.container-4{
    padding-top: 3.75rem;
    padding-left: 1rem;
    padding-right: 1rem;

}

.video {
    display: block;
    visibility: visible;
}
.video-desk{
    visibility: hidden;
    display: none;
}
.linewe {
    text-align: left;
    font-size: .875rem;

}
.article3 {
    text-align: left;
    font-size:1.5rem;
    font-weight: bold;
}

.whywe {
    display: flex;
    padding: 16px;
    align-items: center;
}

.whyweimg {
    width: 48px;
    height: 48px;
    margin-right: .625rem;
}
.frame-list-108 {
    list-style-type: none;
    padding: 0;
    counter-reset: li;
    list-style-type: none;
    line-height: 160%;
    font-weight: light;
    font-size: .875rem;
    margin-top: 2.5rem;
    margin-bottom: 0rem;
}

.marker-1 {
    padding-left: 2rem;
    background-image: url(/images/WHY116.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    margin-bottom: 2rem;
}

.nordic-1 {
    padding-left: 2rem;

}

.marker-2 {
    padding-left: 2rem;
    background-image: url(/images/WHY117.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    margin-bottom: 2rem;
}

.nordic-2 {
    padding-left: 2rem;
}

.marker-3 {
    padding-left: 2rem;
    background-image: url(/images/WHY118.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    margin-bottom: 2rem;
}

.nordic-3 {
    padding-left: 2rem;
}

.marker-4 {
    padding-left: 2rem;
    background-image: url(/images/WHY119.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    margin-bottom: 2rem;
}

.nordic-4 {
    padding-left: 2rem;
}

.container-end {
    padding-top: 3.75rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    
    background-color: #222733;
    background-image: url(/images/Rectangle65393.png);
    background-repeat: no-repeat;
    height: 39rem;
    background-size: 100%;
}

.pend{
    color:#ffffff;
    font-size: 1.625rem;
}
.CMI {
    color: #fff;
    font-size: .875rem;
    opacity: 80%;
}
.figure-3 {
    margin-left: 0;
}
.two-zap {
    margin-top: 2.625rem;
}
.arrow {
    background-color:rgba(28,28,28,0);
    margin-left: 6.25rem;
    border: rgba(28,28,28,0);
    
}
.arrow-2 {
    margin-left: .375rem;
    background-color:rgba(28,28,28,0);
    border: rgba(28,28,28,0);
}
.endtxt{
    font-size: 1.625rem;
    padding-top: 1.5rem;
    padding-bottom: .375rem;
    line-height: 130%;
}
.footer {
    color: #222733;
    padding: 1rem 1rem;
    text-align: left;
}

.flexing{
    display: flex;
}

.Foot{
    padding-left: 2rem;
}

.icones{
    display: flex;
    padding-left: 1rem;
}

.iconfoot{
    margin: 1.5rem;
}


.moreimg{
    margin-left: 50%;
    margin-top: 1rem;
    border: none;
    background-color: #00000000;
    position: absolute;
}

.header__form {
    background-color: #fff;
    background-image: url("/images/back_desk.jpg");
    min-height: 12.5rem; 
    padding-left: 5%;
    padding-right: 5%;
}

.mane {
    padding-left: 5%;
    padding-right: 5%;
}


.biggrid{
    display: grid;
    grid-template-columns:20% 80%;
    background-color: #222733;
}

.gridbox{
    display: grid;
    grid-template-columns: repeat(3, 4fr);
    grid-template-rows: repeat(3,4fr);
    grid-gap: 1rem;
}

.func-img {
    width: 150px;
    height: 150px;
}

.slidergrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    
}

.griditem{
    width: 150px;
    height: 150px;
}

.butn {
    width:50%;
    display: inline-block;
    background: #fff;
    color: #000;
    padding: 5%;
    margin: 15%;
    border-radius: 3px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 1em;
    margin-left: 2%;
    margin-right: 2%;
    
}
.child {
    min-height: 100px;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    overflow: hidden;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.child img {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100%;
}

.but {
    background: #000;
    color: #fff;
    padding: 5%;
    border-radius: 5px;
}

.buon{
    grid-column: 1;
    grid-row: 1;
    margin-left: 45%;
}

@media screen  and (min-width:1024px){

    header{
        height: 100%;
        
        
    }
    .header {
        justify-content: start;
    }
    .upper {
        display: flex;
    }

    .header__link {
        margin-right: 10%;
    }
    .header__button {
        visibility: hidden;
    }

    .ul-links {
        visibility: visible;
        display: flex;
    }

    .container-welcome {
        display: flex;
        padding-top: 9.375rem;
}
    
    .block-text-1 {
        text-align: left;
    }
    .article1 {
        font-size: 4.5rem;
        margin-bottom: 0%;
    }

    .text1 {
        padding-right: 200px;
    }

    .block-eat{
        margin-right: 5%;
        margin-top: 8%;
    }
    .zayavka {
        margin-top: 50px;
    }
    .section-2 {
        padding-left: 7%;
        padding-right: 7%;

    }

    .container-second {
        width: 73.75rem;
        height: 39.8125rem;
    }

    .column-1 {
        display: inline-flex;
    }
    .block-1 {
        width: 20%;
        padding-top: 35px;
    }

    .block-2 {
    }
    .text2 {
        font-size: 2.5rem;
    }

    .block-flex {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 900px;
        margin-left: 100px;
        position: relative;
    }
    .block-3 {
        width: 400px;
    }
    
    .block-4 {
        width: 400px;
    }

    .blackB {
        position: absolute;
        left: 25rem;
    }
    .podr{
        background-color:#222733;
        padding: 10px;
        margin-top: 5%;
    }
    .list {
        width: 1108px;
    }

    .number {
        font-size: 3rem;
    }

    .stats {    
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    .text {
        font-size: 1rem;
    }
    .about {
        margin-left: 5%;
    }
    .povar{
        display: block;
    }
    .povar-m{
        display: none;
    }
    .comma {
        display: block;
    }
    .container-third{
        display: flex;
        margin-left: 2%;
        margin-right: 5%;
    }
    .article2 {
        margin-left: 5%;
        margin-right: 2%;
        margin-top: 5%;
    }
    .video{
        visibility: hidden;
        display: none;
    }

    .video-desk{
        visibility: visible;
        display: block;
    }
    .article3 {
        margin-bottom: 3.125rem;
        text-align: center;
    }
    .whywhy{
        display: flex;
        width: 880px;
        margin: 0 auto;
    }

    .whywe {
        display: block;
        width: 400px;
    }
    .text-nordic {
        line-height: 170%;
    }

    .container-end {
        display: flex;
        padding-left: 8%;
        padding-right: 8%;
        background-image: url(/images/back_img2.png);
        background-repeat: no-repeat;
    }
    .CMI {
        width: 100%;
        
    }
    .figure-3 {
        margin-left: 0;
    }

    .pend {
        font-size: 2.5rem;
    }

    .arrow {
        margin-left: 60%;
    }

    footer{
        display: flex;
        margin-left: 8%;
        width: 100%;
    }

    .Foot {
        font-size: .875rem;
    }
    .flex-food {
        display: flex;
    }

    .icones  {
        margin-left: 40%;
    }

    .moreimg{
        visibility: hidden;
    }
}

