@font-face {
    font-family: 'LabGrotesque-Regular';
    src: url('/LabGrotesque-Regular.ttf') format('truetype');
}
html {
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;
}
:root {
    --main-color: black; /* Пример значения цвета */
    --secondary-color: #ffffff;
    --font-size: 62.5%;

}
body{
    font-family: 'LabGrotesque-Regular', sans-serif;
    font-size: 1rem;
    padding: 0rem;
    color: black;
    height: 100%;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
.container-welcome{
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
}

.backimage-1 {
    width: 0%;
    max-width: 100%;
}
.title
{   
    font-size: .875rem;
    margin-top: 3.5625rem;
    opacity: 80%;
}
.article1
{   
    font-size: 2.0625rem;
    text-align: center;
    margin: 0 auto;
    padding: 0 1.25rem;
}
.text1{ 
    font-size: 1rem;
    opacity: 80%;
    margin: 1rem auto;
    padding: 0 1.25rem;
    line-height: 140%;
}
.header {
    height: 6.25rem;
    display: flex;
    align-items: start;
    justify-content: center;
    position: absolute;
}
.header__button{
margin-left: 4.5rem;
margin-top: 2.375rem;
}
.header__link{
    margin-left: 7.4375rem;
}
.nav {
    float: right;
}

.block-text2 {
    align-items: center;
}
.top50{
    color: #F31B62;
    font-size: 1rem;
    margin-top: 2.0625rem;
    margin-bottom: .0625rem;
}
.tree1{
    margin-left: 1.75rem;
}
.eat{

}
.tree2{
    transform: scale(-1, 1);
    margin-right: 1.75rem;
}

.button-z {
    display: inline-block;
    padding: 1.125rem 6.25rem;
    margin-top: 2rem;
    background-color: #fff;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.linkta {
    font-size: 1rem;
    text-decoration: none;
    color: #000;
}

.second
{
    color:black;
    margin-top: 3.75rem;
    padding: 0rem 1rem;
}
h2{
    font-size: .875rem;
    text-align: left;
}
.text2{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
    line-height: 120%;
}
.text3{
    font-size: .875rem;
    font-weight: lighter;
    text-align: left;
    margin-bottom: 2.5rem;
    line-height: 140%;
}
.text4{
    font-size: .875rem;
    text-align: left;
    margin-bottom: 2.5rem;
    line-height: 170%;
}


.list {
    margin-top: 3.125rem;
}

.stats {
    list-style: none;
    padding: 0;
    margin: 0;
}

.stats li {
    display: inline-grid;
    align-items: center;
    width: 9.5rem;
}

.stats li:last-child {
    border-bottom: none;
}

.stats li .number {
    font-weight: bold;
    font-size: 2.5rem;
    margin-right: .625rem;
    margin-top: 1.5rem;
}

.stats li .text {
    font-size: .875rem;
    line-height: 140%;
    margin-top: .75rem;
}

.third{
    color: black;
    margin-top: 4.75rem;
    padding: 0rem 1rem;
}

figure {
    display: flex;
    flex-flow: column;
    margin:auto;
}

.comma {
    margin-left: 1.25rem;
    right: 16.875rem;
    top: 118.5rem;
    position: absolute;
}
.third-text{
    text-align: left;
}
.article2 {
    font-size: 1.375rem;
    margin-top: 1.5rem;
    line-height: 130%;
}
.chief {
    font-size: .875rem;
    margin-top: 2.5rem;
}
.name{
    font-size: 1.375rem;
    font-weight: bold;
    margin-top: .75rem;
}

.why_we{
    color: black;
    margin-top: 3.75rem;
    padding: 0rem 1rem;

}
.linewe {
    text-align: left;
    font-size: .875rem;

}
.article3 {
    text-align: left;
    font-size:1.5rem;
    font-weight: bold;
}

.frame-list-108 {
    list-style-type: none;
    padding: 0;
    counter-reset: li;
    list-style-type: none;
    line-height: 160%;
    font-weight: light;
    font-size: .875rem;
    margin-top: 2.5rem;
    margin-bottom: 0rem;
}

.marker-1 {
    padding-left: 2rem;
    background-image: url(/images/WHY116.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    margin-bottom: 2rem;
}

.nordic-1 {
    padding-left: 2rem;

}

.marker-2 {
    padding-left: 2rem;
    background-image: url(/images/WHY117.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    margin-bottom: 2rem;
}

.nordic-2 {
    padding-left: 2rem;
}

.marker-3 {
    padding-left: 2rem;
    background-image: url(/images/WHY118.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    margin-bottom: 2rem;
}

.nordic-3 {
    padding-left: 2rem;
}

.marker-4 {
    padding-left: 2rem;
    background-image: url(/images/WHY119.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    margin-bottom: 2rem;
}

.nordic-4 {
    padding-left: 2rem;
}

.wrapper-2{
    background-color: #222733;
    background-image: url(./images/Rectangle\ 65393.png);
    background-repeat: no-repeat;
    height: 39rem;
}
.end{
    color:#ffffff;
    margin-top: 116px;
    padding: 0px 16px;
    text-align: left;
    height: 39rem;
}
.CMI {
    font-size: .875rem;
    opacity: 80%;
    padding-top: 3.75rem;
}
.two-zap {
    margin-top: 2.625rem;
}
.arrow {
    background-color:rgba(28,28,28,0);
    margin-left: 6.25rem;
    border: rgba(28,28,28,0);
}
.arrow-2 {
    margin-left: .375rem;
    background-color:rgba(28,28,28,0);
    border: rgba(28,28,28,0);
}
.endtxt{
    font-size: 1.625rem;
    padding-top: 1.5rem;
    padding-bottom: .375rem;
    line-height: 130%;
}
.footer {
    color: #222733;
    padding: 0rem 1rem;
    text-align: left;
}

.nordic {
    margin-top: 2.5rem;
}

.numberr {
    margin-top:2rem;
}

.restaurant {
    position: relative;
    bottom: 2.1875rem;
    left: 9.375rem;
    max-width: 12.5rem;
}

.links {
    margin-top: 2rem;
}

.vk {
    margin-right: 20px;
}

.facebook {
    margin-right: 20px;
}

.twitter {
    margin-right: 20px;
}

.instagram {
    margin-right: 20px;
}